body{
    width: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(51, 197, 255),rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    height: 200px;
}
.header{
    border-bottom: solid 5px;
    padding: 10px;
    margin: 50px 500px 0px 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: rgba(95, 212, 248, 0.781);
    text-align: center;
}
@media only screen and (max-width: 1275px){
    .header{
        border-bottom: none;
        text-align: left;
        margin: 50px;
    }
}
a{
    color: rgb(0, 0, 0);
}
h1{
    font-family: "CustomFont", sans-serif;
    display: inline-block;
    margin: 0 5px 0 40px;
    color: rgb(255, 255, 255);
}
h2{
    font-family: "CustomFont", sans-serif;
    font-weight: lighter;
    font-size: 32px;
}
@font-face{
    font-family: "CustomFont";
    src: url("squareo-webfont.eot"),
    /*src: url("squareo-webfont.woff") format("woff"),
    url("squareo-webfont.otf") format("opentype"),*/
    url("squareo-webfont.svg#filename") format("svg");
}
@font-face{
    font-family: "CustomFont2";
    src: url("melbourne_reg-webfont.eot"),
    url("melbourne_reg-webfont.svg#filename") format("svg");
}
.main-body{
    /*display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 10% 80%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;*/
    margin: 20px 100px 20px 100px;
    padding: 10px;
}
.image-div{
    width: 0;
    height: 0;
}
@media only screen and (max-width: 1000px){
    .image-div{
        width: 100%;
        height: 100%;
    }
}
.profile-image{
    height: 400px;
    width: 400px;
    /*grid-column: 1 / 2;*/
    display: inline-flex ;
    margin: 150px 0 0 0;
}
.body{
    margin: 0 0 0 450px;
}
@media only screen and (max-width: 1000px){
    .body{
        margin: 0;
    }
    .profile-image{
        margin: 50px 0 0 0;
    }
}
.title-about1{
    font-family: Noto Sans, sans-serif;
    display: inline-flex;
    justify-self: flex-start;
    font-size: 72px;
    margin: 30px 0 30px 0;
    /*grid-column: 2;
    grid-row: 1;*/
}
.title-about2{
    font-family: Verdana, Geneva, Tahoma, monospace;
    display: inline-flex;
    justify-self: flex-start;
    /*grid-column: 2;
    grid-row: 2;*/
    margin: 0;
}
.body-text{
    font-family: Verdana, Geneva, Tahoma, monospace;
    display: inline-flex;
    font-size: 26px;
    /*grid-column: 2;
    grid-row: 3;*/
}

footer{
    background-image: linear-gradient(to top, rgb(51, 197, 255),rgba(255, 255, 255, 0));
    width: 100%;
    border-top: 3px solid;
    border-color: rgba(95, 212, 248, 0.781);
    padding: 20px;
}
.links{
    margin: 20px 0 0 100px;
    width: 100px;
}
.links :nth-child(n){
    margin: 10px 0 0 0;
}
.facebook{
    display: inline-flex;
    height: 36px;
    width: 36px;
}
.instagram{
    display: inline-flex;
    height: 36px;
    width: 36px;
}
#soc-names{
    display: inline-flex;
    margin: 0 0 0 50px;
}